@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* BODY */

body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}


/* NAVIGATION BAR  [sample navBar - to be changed] */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    background-color: #454E6F;
    overflow: hidden;
    z-index: 999;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #ddd;
    color: black;
  }


/* FOOTER */
.footer-section{
  display: block;
  height: fit-content;
}

.footer-text{
  display: flex;
  justify-content: center;
}

.footer-section h5{
  text-align: center;
  height: fit-content;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  color: #60646C;
}

.footer-section .contents{
  display: inline;
  width: 600px;
  padding-right: 30px;
}

.footer-section .about{
  display: inline;
  width: 600px;
}

.footer-section h4{
  width: fit-content;
}

.footer-section p{
  width: fit-content;
}

.footer-section a{
  width: fit-content;
  text-decoration: none;
  color:#0E2038;
}

.footer-section a:hover{
  color: #EF6787;

}


/* HOMEPAGE - START*/

  /* First Section */
  .first-section {
    background-color: #F3F7FF; 
    padding: 52px 20px 20px 20px 20px; 
    display: flex;
    justify-content: center;
    height: 100vh;
  }

  .first-section h1{
    font-weight: 600;
    font-size: 60px;
    line-height: 55px;
    padding-bottom: 40px;
    color: #012A4A;
  }

  .online-fraud-text{
    display: inline;
    color: #EF6787;
  }

  .first-section h3{
    font-weight: 500;
    font-size: 39px;
    line-height: 50px;
    text-align: justify;
    padding-bottom: 50px;
    color: #012A4A;
  }

  .first-section ul li{
    text-decoration: none;
    width: fit-content;
    height: fit-content;
    display: inline-block
  }

  .title-text{
    padding-right: 170px;
  }

  .first-section ul{
    list-style-type: none;
    align-items: center;
    display: flex;
    width: fit-content;
    height: 100vh;
  }

  .first-section img{
    width: 552px;
    height: 420px;
    scale: 1.3;
  }

  .start-button {
    background-color: #454E6F; 
    border-radius: 50px; 
    color: white; 
    padding: 20px 35px; 
    text-align: center;
    text-decoration: none; 
    display: inline-block;
    font-size: 20px;
    cursor: pointer; 
    box-shadow: none;
  }


  /* Content Section */

  .content-section{
    text-align: center;
    display: block;
    height: 100vh;
  }

  .content-section h2{
    font-weight: 600;
    font-size: 39px;
    line-height: 55px;
    color: #0E2038;
    padding-top: 10px;
  }

  .content-section ul li{
    width: fit-content;
    height: fit-content;
    display: inline-block
  }

  .content-section ul{
    list-style-type: none;
    display: flex;
    width: inherit;
    justify-content: center;
    height: 400px;
    gap: 50px;
    padding: 100px 0;
    
  }

  .content-section a{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #454E6F;
  }

  .content-section ul li div{
    width: 283px;
    height: 230px;
  }

  .content-section a{
    text-decoration: none;
  }

  .overlay{
    background: rgba(137, 194, 217, 0.2);
  }

  .content-section a:hover{
    color: #EF6787;
  }

  .def-list .content-image{
    border: 5px solid #89C2D9;
    border-radius: 20px;
    background: url(/images/contents/content1.png) no-repeat center;
    background-size: cover;
  }

  .types-list .content-image{
    border: 5px solid #89C2D9;
    border-radius: 20px;
    background: url(/images/contents/content2.png) no-repeat center;
    background-size: cover;
  }

  .protect-list .content-image{
    border: 5px solid #89C2D9;
    border-radius: 20px;
    background: url(/images/contents/content3.png) no-repeat center;
    background-size: cover;
  }

  .victim-list .content-image{
    border: 5px solid #89C2D9;
    border-radius: 20px;
    background: url(/images/contents/content4.png) no-repeat center;
    background-size: cover;
  }

  /* References Section */
  .references{
    background: rgba(178, 183, 200, 0.22);
    height: 55vh;
  }

  .references h2{
    font-weight: 600;
    font-size: 39px;
    line-height: 55px;
    color: #0E2038;
    padding-top: 10px;
    text-align: center;
  }

  .references ul{
    padding-left: 100px;
  }


  .references li{
    padding-bottom: 20px;
  }

  .references a{
    color: #0F2443;
  }

/* HOMEPAGE - END*/

/* Definition Section */

.definition-section{
  background: #EEF1F6;
}
.definition-section :left{
  display: flex;
  justify-content: center;
  height: 260px;
  color: #1E2023;
}
.definition-section h2{
  color: #1E2023;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin-top: 100px;
  margin-left: 10%;
}
.left p{
  margin-left: 10%;
}
.right img{
  height: 300px;
    width: 415x;
    border-radius: 12px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 4%;
    margin-right: 10%;
}


/* Types of Online Fraud  - START*/
  .type-section{
    background: #EEF1F6;
  }

  .types-container-odd{
    display: flex;
    justify-content: center;
    background: rgba(96, 100, 108, 0.05);
    height: 260px;
  }

  .types-container-odd .num-container{
    margin-left: 50px;
  }

  .types-container-even{
    display: flex;
    justify-content: center;
    background: #EEF1F6;
    height: 260px;
  }

  .types-container-even .num-container{
    margin-right: 50px;
  }

  .type-section h2{
    width: 1051px;
    font-weight: 600;
    font-size: 31px;
    line-height: 46px;
    color: #0F2443;
    padding: 100px 0 50px 0;
    margin-left: 234px;
  }

  .type-section h1{
    font-weight: 500;
    font-size: 96px;
    margin: 0;
    color: #FDFEFF;
    height: 201px;
    width: fit-content;
    line-height: 201px;
  }

  .type-section h4{
    color: #EA3F68;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
  }

  .type-section p{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #1E2023;
  }

  .num-container{
    display: flex;
    justify-content: center;
    width: 174px;
    height: 201px;
    background: #768D9B;
    border-radius: 0px 0px 10px 10px; 
  }

  .paragraph{
    display: block;
    width: 827px;
  }

/* Types of Online Fraud  - END*/


/* How to Protect  */
/* some css */


/* What to do -START  */
 .victim{
  background: #EEF1F6;
}
.victim .content{
  padding: 40px 0;
}
.victim .victim-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.victim-details .h4{
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #0F2443;

}
.victim-details p{
font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #35383D;
}
.victim .right img{
  height: 412px;
  width: 414px;
  border-radius: 20px;
}

/* What to do - END */

